.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px 20px;

  .social-links {
    margin-bottom: 15px;

    ul {
      display: flex;
      justify-content: space-around;

      li {
        list-style-type: none;
        margin-right: 15px;

        a {
          svg {
            width: 20px;
            height: 20px;
            @include darkThemeHelper(fill, $accent, $dark-darkAccent);
          }

          &:hover {
            svg {
              @include darkThemeHelper(fill, $primaryColor, $dark-primaryColor);
            }
          }
        }
      }
    }
  }

  .footer-text {
    color: $accent;
    text-align: center;
    font-size: 1rem;
    line-height: 1.3rem;
    @include darkThemeHelper(color, $accent, $dark-darkAccent);
  }
}

@media (hover: none), (hover: on-demand) {
  .footer {
    .social-links {
      ul {
        li {
          a {
            &:hover {
              svg {
                @include darkThemeHelper(fill, $accent, $dark-darkAccent);
              }
            }
          }
        }
      }
    }
  }
}
