.modal {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 20px;

  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px) saturate(300%);
  }

  .close-icon {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
  }

  .card-container {
    z-index: 1;
    width: clamp(350px, 60vw, 700px);

    .title {
      z-index: 1;
      justify-self: flex-start;
      text-transform: uppercase;
      font-family: $fontTitle;
      font-weight: 600;
      font-size: max(3vw, 3rem);
      margin-bottom: 5px;
      color: $secondaryColor;
    }

    .preview-container {
      width: 100%;

      video {
        width: 100%;
        height: 100%;
      }
    }

    .text-container {
      padding: 25px;
      background-color: $secondaryColor;

      .construction-text {
        font-size: 1.25rem;
        color: rgb(182, 12, 12);
        opacity: 0.7;
        margin-bottom: 10px;
      }

      .technologies {
        display: flex;
        flex-flow: row wrap;
        line-height: 1rem;

        span {
          padding: 7px;
          margin: 0px 10px 10px 0;
          background-color: $liteAccent;
          border-radius: 5px;
        }
      }

      .description {
        font-size: 1.25rem;
      }

      .features {
        margin-top: 20px;

        .features-title {
          margin-bottom: 5px;
          text-transform: uppercase;
          font-family: $fontTitle;
          font-weight: 600;
          font-style: normal;
          font-size: 2rem;
          color: $accent;
        }

        .features-list {
          margin-left: 15px;
          li {
            list-style-type: circle;
            font-family: $fontText;
            font-weight: 400;
            font-style: normal;
            font-size: 1.25rem;
            margin-bottom: 5px;
            color: $darkAccent;
          }
        }
      }

      .links {
        display: flex;
        margin-top: 20px;

        a {
          display: flex;
          align-items: center;
          font-weight: 700;
          padding: 10px;
          margin-right: 10px;
          background-color: $primaryColor;
          border-radius: 5px;
          color: $secondaryColor;

          &:hover {
            background-color: $darkAccent;
          }
        }

        .github-link {
          background-color: $accent;
        }
      }
    }
  }
}

body.dark {
  .modal {
    .card-container {
      .text-container {
        background-color: $dark-secondaryColor;

        .construction-text {
          color: #ffc400;
        }

        .technologies {
          span {
            color: $dark-liteAccent;
            background-color: $dark-darkAccent;
            opacity: 0.5;
          }
        }

        .description {
          color: $dark-primaryColor;
        }

        .features {
          .features-title {
            color: $dark-accent;
          }

          .features-list {
            li {
              color: $dark-liteAccent;
            }
          }
        }

        .links {
          a {
            color: $dark-secondaryColor;
            background-color: $dark-primaryColor;

            &:hover {
              background-color: $dark-liteAccent;
            }
          }
          .github-link {
            color: $dark-liteAccent;
            background-color: $dark-darkAccent;

            &:hover {
              color: $dark-darkAccent;
            }
          }
        }
      }
    }
  }
}

@media (hover: none), (hover: on-demand) {
  .modal {
    .card-container {
      .text-container {
        .links {
          a {
            &:hover {
              background-color: $primaryColor;
            }
          }
          .github-link {
            &:hover {
              background-color: $accent;
            }
          }
        }
      }
    }
  }

  body.dark {
    .modal {
      .card-container {
        .text-container {
          .links {
            a {
              &:hover {
                background-color: $dark-primaryColor;
              }
            }
            .github-link {
              &:hover {
                background-color: $dark-liteAccent;
              }
            }
          }
        }
      }
    }
  }
}
