#logo,
#logo-alt {
  text-transform: uppercase;
  font-family: $fontTitle;
  font-weight: 600;
  font-size: $logoFontSize;
  line-height: $logoLineHeight;
}

.navbar-container {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: $secondaryColor;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: $viewSize;
    padding: 20px 20px;
    margin: 0 auto;

    #mobile-nav {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33px;
      height: 33px;

      .menu-button {
        z-index: 11;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: 0.1s ease-in-out;

        .menu-button-burger {
          width: 20px;
          height: 4px;
          background: black;
          border-radius: 2px;
          transition: 0.1s ease-in-out;

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 4px;
            background: black;
            border-radius: 2px;
            transition: 0.1s ease-in-out;
          }

          &::before {
            transform: translateY(-7px);
            transition: 0.1s ease-in-out;
          }

          &::after {
            transform: translateY(7px);
            transition: 0.1s ease-in-out;
          }
        }

        &.open {
          .menu-button-burger {
            transform: translateX(10px);
            background: transparent;
            transition: 0.1s ease-in-out;

            &::before {
              transform: rotate(45deg) translate(-9px, 9px);
              width: 20px;
              transition: 0.1s ease-in-out;
            }

            &::after {
              transform: rotate(-45deg) translate(-9px, -9px);
              width: 20px;
              transition: 0.1s ease-in-out;
            }
          }
        }
      }

      .overlay-background {
        z-index: -1;
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $liteAccent;
        transition: 0.5s ease-in-out;

        &.open {
          height: 300vmax;
          width: 300vmax;
          background-color: $liteAccent;
        }
      }
    }

    .navbar-links {
      display: none;
    }
  }
}

@import "./navbar-desktop";
@import "./navbar-mobile";
