// !Insert overlay css styling here

#logo,
#logo-alt {
  font-family: $fontTitle;
  font-weight: 600;
  font-size: $logoFontSize;
  text-transform: uppercase;
}

.navbar-container {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $secondaryColor;
  border-bottom: $liteAccent 2px solid;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $viewSize;
    padding: 20px 20px;
    margin: 0 auto;

    #mobile-nav {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33px;
      height: 33px;

      .menu-button {
        z-index: 11;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: all 750ms ease-in-out;

        .menu-button-burger {
          width: 20px;
          height: 4px;
          background: black;
          border-radius: 2px;
          transition: all 750ms ease-in-out;

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 4px;
            background: black;
            border-radius: 2px;
            transition: all 750ms ease-in-out;
          }

          &::before {
            transform: translateY(-7px);
          }

          &::after {
            transform: translateY(7px);
          }
        }
      }
    }

    .navbar-links {
      display: none;
    }
  }
}

.menu-button.open {
  .menu-button-burger {
    transform: translateX(10px);
    background: transparent;

    &::before {
      transform: rotate(45deg) translate(-9px, 9px);
      width: 20px;
    }

    &::after {
      transform: rotate(-45deg) translate(-9px, -9px);
      width: 20px;
    }
  }
}

@import "./navbar-desktop";
