@media only screen and (min-width: $tabletSize) {
  .navbar-container {
    border-bottom: $liteAccent 2px solid;
    background-color: $secondaryColor;

    .navbar {
      #mobile-nav {
        display: none;
      }
      #logo {
        display: flex;
      }

      .navbar-links {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;

        li {
          a {
            margin-left: 25px;
            font-family: $fontText;
            font-weight: 500;
            font-size: 1.5rem;
            font-style: normal;
            // text-transform: uppercase;

            &::after {
              content: ".";
            }
          }
        }
      }
    }
  }
}
