@media only screen and (min-width: $tabletSize) {
  .navbar-container {
    background-color: $secondaryColor;

    .navbar {
      #mobile-nav {
        display: none;
      }

      .navbar-links {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;

        li {
          .active {
            font-style: oblique;
            color: $primaryColor;
          }

          a {
            margin-left: 25px;
            font-family: $fontText;
            font-weight: 500;
            font-size: 1.5rem;
            font-style: normal;
            color: $accent;

            &:hover {
              color: $primaryColor;
            }
          }
        }
      }
    }
  }
}
