@media only screen and (min-width: $tabletSize) {
  .navbar-container {
    .navbar {
      #mobile-nav {
        display: none;
      }

      .navbar-links {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;

        li {
          .active {
            font-style: oblique;
            @include darkThemeHelper(color, $primaryColor, $dark-primaryColor);
          }

          a {
            margin-left: 25px;
            font-family: $fontText;
            font-weight: 500;
            font-size: 1.5rem;
            font-style: normal;
            @include darkThemeHelper(color, $accent, $dark-accent);

            &:hover {
              @include darkThemeHelper(
                color,
                $primaryColor,
                $dark-primaryColor
              );
            }

            &:active {
              @include darkThemeHelper(color, $darkAccent, $dark-liteAccent);
            }
          }
        }
      }
    }
  }
}

@media (hover: none), (hover: on-demand) {
  .navbar-container {
    .navbar {
      .navbar-links {
        li {
          a {
            &:hover {
              color: $primaryColor;
            }
            &:active {
              color: $primaryColor;
            }
          }
        }
      }
    }
  }
}
