.theme-toggler {
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    fill: rgb(255, 196, 0);
  }

  &:hover {
    svg {
      @include darkThemeHelper(fill, $dark-secondaryColor, $dark-primaryColor);
    }
  }
}

@media (hover: none), (hover: on-demand) {
  .theme-toggler {
    &:hover {
      svg {
        fill: rgb(255, 196, 0);
      }
    }
  }
}
