.theme-toggler {
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    fill: rgb(255, 196, 0);
  }

  &:hover {
    svg {
      fill: $dark-secondaryColor;
    }
  }

  &.dark {
    &:hover {
      svg {
        fill: $dark-primaryColor;
      }
    }
  }
}

@media (hover: none), (hover: on-demand) {
  .theme-toggler {
    &:hover {
      svg {
        fill: rgb(255, 196, 0);
      }
    }
  }
}
