.error-page {
  margin: 50px 0 50px 0;

  html.dark & {
    color: white;
  }

  .title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: $fontTitle;
    font-weight: 700;
    font-size: 6rem;
    line-height: 5.5rem;

    html.dark & {
      color: white;
    }

    div {
      color: $accent;
      text-transform: uppercase;
      font-family: $fontTitle;
      font-weight: 700;
      font-size: 6rem;

      html.dark & {
        color: $dark-accent;
      }
    }
  }

  .poop {
    font-size: clamp(2rem, 3vw, 3rem);

    a {
      text-decoration: underline;
      font-size: clamp(2rem, 3vw, 3rem);
    }
  }
}
