.about-page {
  width: 100%;

  #profile-pic {
    display: block;
    width: calc(min(15vw, 250px));
    min-width: 200px;
    height: calc(min(15vw, 250px));
    min-height: 200px;
    margin: 0 auto 3vw auto;
    object-fit: cover;
    border: 2px solid $primaryColor;
    border-radius: 50%;
  }

  .about-text {
    width: 100%;
    margin: 0 auto;

    h2 {
      text-align: left;
      font-size: calc(max(4vw, 4rem));
      line-height: calc(max(4vw, 4.25rem));
      margin-top: 25px;

      span {
        font-size: calc(max(4vw, 4.25rem));
        color: $accent;

        &:nth-of-type(2) {
          font-style: oblique;
        }
      }
    }

    p {
      font-weight: 300;
      font-size: $fontTextFontSize;
      line-height: $fontTextLineHeight;
      margin: 4rem 0 6rem 0;
    }
  }
}

@import "../components/form";

@media only screen and (min-width: $mobileSize) {
  .about-page {
    .about-text {
      h2 {
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: $desktopSize) {
  .about-page {
    .about-text {
      width: 75%;
    }
  }
}

body.dark {
  .about-page {
    #profile-pic {
      border: 2px solid $dark-primaryColor;
    }

    .about-text {
      h2 {
        color: $dark-primaryColor;

        span {
          color: $dark-accent;
        }
      }

      p {
        color: $dark-primaryColor;
      }
    }
  }
}
