.about-page {
  width: 100%;
  margin-top: clamp(20px, 3vw, 75px);

  #profile-pic {
    display: block;
    width: calc(min(15vw, 250px));
    min-width: 200px;
    height: calc(min(15vw, 250px));
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: clamp(50px, 3vw, 75px);
    object-fit: cover;
    border: 2px solid $primaryColor;
    border-radius: 50%;
  }

  .about-text {
    width: 100%;
    margin: 0 auto;
    margin-bottom: clamp(50px, 5vw, 100px);

    h2 {
      text-align: left;
      font-size: clamp(3.25rem, 4vw, 7rem);
      line-height: clamp(3.5rem, 4vw, 7rem);
      margin-top: 25px;

      span {
        font-size: clamp(3.25rem, 4vw, 7rem);
        line-height: clamp(3.5rem, 4vw, 7rem);
        color: $accent;

        &:nth-of-type(2) {
          font-style: oblique;
        }
      }
    }

    .brand-statement {
      font-size: clamp(2rem, 2vw, 2.5rem);
      margin: 20px 0 20px 0;
    }

    .bio {
      font-weight: 300;
      font-size: $fontTextFontSize;
      line-height: $fontTextLineHeight;
      margin-top: 40px;

      a {
        font-size: $fontTextFontSize;
        text-decoration: underline;
      }
    }
  }
}

@import "../components/form";

@media only screen and (min-width: $mobileSize) {
  .about-page {
    .about-text {
      h2 {
        text-align: center;
      }
    }
  }
}

body.dark {
  .about-page {
    #profile-pic {
      border: 2px solid $dark-primaryColor;
    }

    .about-text {
      h2 {
        color: $dark-primaryColor;

        span {
          color: $dark-accent;
        }
      }

      p {
        color: $dark-primaryColor;
      }
    }
  }
}
