#profile-pic {
  display: block;
  width: calc(min(15vw, 250px));
  min-width: 200px;
  height: calc(min(15vw, 250px));
  min-height: 200px;
  margin: 0 auto 3vw auto;
  object-fit: cover;
  border: 1px solid $primaryColor;
  border-radius: 50%;
}

.about-page {
  width: 100%;

  .about-text {
    width: 100%;
    margin: 0 auto;

    h2 {
      text-align: left;
      font-size: calc(max(4vw, 4rem));
      line-height: calc(max(4vw, 4.25rem));
      margin-top: 25px;

      span {
        font-size: calc(max(4vw, 4.25rem));
        color: $accent;

        &:nth-of-type(2) {
          font-style: oblique;
        }
      }
    }

    p {
      font-weight: 300;
      font-size: $fontTextFontSize;
      line-height: $fontTextLineHeight;
      margin: 4rem 0 6rem 0;
    }
  }
}

@import "../components/form";

@media only screen and (min-width: $mobileSize) {
  .about-page {
    .about-text {
      h2 {
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: $desktopSize) {
  .about-page {
    .about-text {
      width: 75%;
    }

    .about-form form {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(3, auto);
      gap: 10px;
      column-gap: 30px;
    }

    .form-field:nth-of-type(2) {
      grid-area: 1 / 2 / 2 / 4;
    }

    .form-field:nth-of-type(3) {
      grid-area: 2 / 1 / 3 / 4;
    }

    .about-form button {
      grid-area: 3 / 1 / 4 / 4;
    }
  }
}
