.code-page {
  .code-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    font-family: $fontTitle;
    font-weight: 600;
    font-style: normal;
    font-size: $galleryTitleFontSize;
    margin-bottom: 10px;
    @include darkThemeHelper(color, $primaryColor, $dark-primaryColor);
  }

  .cards-container {
    display: flex;
    flex-flow: row wrap;
    gap: max(2vw, 20px);

    &:after {
      content: "";
      flex: 1 1 400px;
    }

    .card-container {
      cursor: pointer;
      position: relative;
      flex: 1 1 400px;
      height: 300px;
      border: none;

      .card-title {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-transform: uppercase;
        font-family: $fontTitle;
        font-weight: 400;
        font-size: $galleryCardFontSize;
        color: $secondaryColor;
        background-color: $primaryColor;
        opacity: 0;
        transition: opacity 0.2s ease-out;
      }

      .card-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:hover {
        .card-title {
          opacity: 1;
        }
      }
    }
  }
}

@import "../components/modal";

@media only screen and (max-width: $tabletSize) {
  .code-page {
    .cards-container {
      .card-container {
        margin-bottom: 20px;

        .card-title {
          opacity: 1;
          top: 80%;
          height: 20%;
        }
      }
    }
  }
}
