.design-page {
  display: flex;
  flex-flow: column;
  width: 100%;

  .page-title {
    align-self: flex-end;
    text-transform: uppercase;
    font-family: $fontTitle;
    font-weight: 600;
    font-style: normal;
    font-size: $galleryTitleFontSize;
    margin-bottom: 10px;
  }

  .cards-container {
    .card-link {
      .card-container {
        position: relative;
        height: 20vh;
        overflow: hidden;

        .image-container {
          width: 100%;
          height: 100%;

          .image {
            width: 100%;
            height: 100%;
          }
        }

        .card-title {
          z-index: 5;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          font-family: $fontTitle;
          font-weight: 400;
          font-size: $galleryCardFontSize;
          color: $secondaryColor;
          background-color: $primaryColor;
          opacity: 0;
          transition: opacity 0.2s ease-out;
        }

        &:hover {
          .card-title {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $tabletSize) {
  .design-page {
    .cards-container {
      .card-link {
        .card-container {
          height: 55vh;
          margin-bottom: 4%;

          .card-title {
            display: flex;
            top: 80%;
            height: 20%;
            opacity: 1;
          }
        }
      }
    }
  }
}
