.homepage-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  height: 100vh;
  width: 90%;

  .links-container {
    position: relative;
    height: 60%;
    width: 100%;
    padding: 35px 25px 25px 25px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;

    .logo-container {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      width: 100%;

      &::before,
      &::after {
        content: "";
        display: block;
        flex: 2 0 0;
        height: 1px;
        border-top: 2px solid black;
      }

      .logo-content {
        flex: 0 0 1;
        height: 26px;
        font-size: calc(max(3vw, 2.5rem));
        font-family: $fontTitle;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -20px;
      }
    }

    .links {
      display: flex;
      justify-content: space-between;
      height: 100%;

      .code,
      .snap,
      .design,
      .about {
        height: 100%;
        width: 23%;
        overflow: hidden;

        a {
          color: black;
        }

        .link-title {
          font-weight: 500;
          font-size: 1.75rem;
          margin-bottom: 5px;
        }

        .link-hover {
          display: none;
          height: 100%;
          word-wrap: break-word;
          line-height: calc(max(2vw, 1.5rem));

          span {
            font-weight: 300;
            font-size: calc(max(1.75vw, 2rem));

            &:nth-child(2n) {
              color: $accent;
            }
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        &:hover {
          .link-hover {
            display: block;
          }
        }
      }
    }
  }

  .social-links {
    ul {
      display: flex;
      padding: 0;
      margin: 0;

      li {
        margin-left: 10px;
        list-style-type: none;

        a {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .homepage-container {
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    padding: 10px 20px 0 20px;

    .links-container {
      height: 90%;
      width: 100%;
      margin-top: 20px;

      .logo-container {
        .logo-content {
          font-size: 2rem;
        }
      }

      .links {
        flex-flow: column;

        .code,
        .snap,
        .design,
        .about {
          height: 22%;
          width: 100%;
        }
      }
    }
  }
}
