@import url("https://use.typekit.net/wtc5nxi.css");
* {
  font-size: 12px;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: bebas-neue-pro-semiexpanded, sans-serif;
  font-weight: 600;
  line-height: 3rem;
}

body {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 2.75rem;
  padding: 100px 20px 20px 20px;
  margin: auto;
  -webkit-animation: fadeInAnimation ease-in-out 0.3s;
          animation: fadeInAnimation ease-in-out 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #aaaaaa;
}

a:focus {
  color: #555555;
}

#logo,
#logo-alt {
  font-family: bebas-neue, sans-serif;
  font-size: 3.5rem;
}

#logo {
  display: none;
}

.navbar-container {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
}

.navbar-container .navbar #mobile-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33px;
  height: 33px;
}

.navbar-container .navbar #mobile-nav .menu-button {
  z-index: 11;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

.navbar-container .navbar #mobile-nav .menu-button .menu-button-burger {
  width: 20px;
  height: 4px;
  background: black;
  border-radius: 2px;
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

.navbar-container .navbar #mobile-nav .menu-button .menu-button-burger::before, .navbar-container .navbar #mobile-nav .menu-button .menu-button-burger::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 4px;
  background: black;
  border-radius: 2px;
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

.navbar-container .navbar #mobile-nav .menu-button .menu-button-burger::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.navbar-container .navbar #mobile-nav .menu-button .menu-button-burger::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.navbar-container .navbar .navbar-links {
  display: none;
}

.menu-button.open .menu-button-burger {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  background: transparent;
}

.menu-button.open .menu-button-burger::before {
  -webkit-transform: rotate(45deg) translate(-9px, 9px);
          transform: rotate(45deg) translate(-9px, 9px);
  width: 20px;
}

.menu-button.open .menu-button-burger::after {
  -webkit-transform: rotate(-45deg) translate(-9px, -9px);
          transform: rotate(-45deg) translate(-9px, -9px);
  width: 20px;
}

@media only screen and (min-width: 1024px) {
  .navbar-container {
    border-bottom: rgba(63, 63, 63, 0.2) 1px solid;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .navbar-container .navbar {
    line-height: inherit;
  }
  .navbar-container .navbar #mobile-nav {
    display: none;
  }
  .navbar-container .navbar #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-container .navbar #logo-alt {
    display: none;
  }
  .navbar-container .navbar .navbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none;
    line-height: 1em;
  }
  .navbar-container .navbar .navbar-links li a {
    margin-left: 25px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    font-style: normal;
    text-transform: uppercase;
  }
}

.landing-text {
  margin-top: calc(max(5vw, 50px));
}

.landing-text h1 {
  font-size: calc(min(15vw, 100px));
  line-height: calc(min(15vw, 100px));
}

.landing-text h1 span {
  font-size: inherit;
  color: #aaaaaa;
}

.landing-text h1 span:nth-of-type(2) {
  font-style: italic;
}

.landing-text p {
  font-size: 2rem;
  margin-top: calc(min(10vw, 50px));
  margin-bottom: calc(min(8vw, 50px));
}

#more-about-me {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

@media only screen and (min-width: 1024px) {
  .landing-text {
    max-width: 1000px;
  }
}

#profile-pic {
  border-radius: 50%;
  width: calc(min(15vw, 250px));
  min-width: 200px;
  height: calc(min(15vw, 250px));
  min-height: 200px;
  display: block;
  margin: 0 auto 3vw auto;
  margin-top: calc(max(2vw, 50px));
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #555555;
}

.about-text {
  max-width: 800px;
  margin: 0 auto;
}

.about-text h2 {
  text-align: left;
  margin-top: 25px;
  font-size: 4rem;
  line-height: 4.25rem;
}

.about-text h2 span {
  font-size: 3rem;
}

.about-text p {
  margin: 4rem 0 6rem 0;
  font-size: 2rem;
}

.about-form-container h4 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 25px;
}

.about-form {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.about-form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-form .form-field label {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #555555;
}

.about-form button {
  font-family: proxima-nova, sans-serif;
  font-size: 1.3rem;
  color: #555555;
  border: none;
  border-radius: 3px;
  background-color: #eeeeee;
  padding: 10px 10px;
  margin-top: 20px;
  width: 100%;
}

.about-form button:hover {
  background-color: #aaaaaa;
  border: none;
}

.about-form button:focus {
  background-color: #555555;
  color: #eeeeee;
  border: none;
}

input,
#form-message {
  border: #aaaaaa 1px solid;
  border-radius: 3px;
  height: 35px;
  padding: 5px 10px;
  font-size: 1.3rem;
  font-family: proxima-nova, sans-serif;
}

input::-webkit-input-placeholder,
#form-message::-webkit-input-placeholder {
  color: #aaaaaa;
  font-style: italic;
}

input:-ms-input-placeholder,
#form-message:-ms-input-placeholder {
  color: #aaaaaa;
  font-style: italic;
}

input::-ms-input-placeholder,
#form-message::-ms-input-placeholder {
  color: #aaaaaa;
  font-style: italic;
}

input::placeholder,
#form-message::placeholder {
  color: #aaaaaa;
  font-style: italic;
}

input:focus,
#form-message:focus {
  border: #555555 2px solid;
  outline: none;
}

#form-message {
  resize: vertical;
  height: 200px;
  padding: 10px;
}

.form-thank-when-clicked {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-thank-text {
  display: none;
}

.form-thank-text-when-clicked {
  display: block;
  color: black;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media only screen and (min-width: 1024px) {
  .about-text h2 {
    text-align: center;
  }
  .about-form form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    gap: 10px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .form-field:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1 / 2 / 2 / 4;
  }
  .form-field:nth-of-type(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2 / 1 / 3 / 4;
  }
  .about-form button {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3 / 1 / 4 / 4;
  }
}

.footer {
  margin-top: 75px;
  width: 100%;
}

.footer .footer-text {
  color: #aaaaaa;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

@media only screen and (min-width: 1024px) {
  body {
    max-width: 1200px;
  }
}
/*# sourceMappingURL=style.css.map */