@import url("https://use.typekit.net/hoh1goc.css");

// Colors
$primaryColor: black;
$secondaryColor: white;
$liteAccent: #eeeeee;
$accent: #aaaaaa;
$darkAccent: #555555;

// Fonts
$fontTitle: bebas-neue-pro, sans-serif;
$fontText: roboto, sans-serif;
$logoFontSize: clamp(3rem, 2vw, 2.5rem);
$logoLineHeight: clamp(2.25rem, 1.75vw, 2rem);
$fontTextFontSize: 1.75rem;
$fontTextLineHeight: 2.5rem;

// View Sizes
$viewSize: 1200px;
$mobileSize: 500px;
$tabletSize: 768px;
$desktopSize: 1024px;

* {
  font-size: 12px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontTitle;
  font-weight: 600;
  line-height: 3rem;
}

html {
  position: relative;
}

body {
  font-family: $fontText;
  font-weight: 400;
  font-style: normal;
  padding: 80px 20px 20px 20px;
  margin: auto;
  animation: fadeInAnimation ease-in-out 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: $accent;
  }
  &:focus {
    color: $primaryColor;
  }
}

@import "./components/navbar";
@import "./pages/index";
@import "./pages/code";
@import "./pages/snap";
@import "./pages/about";

@import "./components/footer";
@import "./templates/snap-gallery";

@media only screen and (min-width: 1024px) {
  body {
    max-width: $viewSize;
  }
}

.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
