@import url("https://use.typekit.net/hoh1goc.css");

// Colors
$primaryColor: black;
$secondaryColor: white;
$liteAccent: #eeeeee;
$accent: #aaaaaa;
$darkAccent: #555555;

// Dark Colors
$dark-primaryColor: white;
$dark-secondaryColor: #111111;
$dark-liteAccent: #aaaaaa;
$dark-accent: #555555;
$dark-darkAccent: #353535;

// Fonts
$fontTitle: bebas-neue-pro, sans-serif;
$fontText: roboto, sans-serif;
$logoFontSize: clamp(2.75rem, 2.75vw, 3.5rem);
$logoLineHeight: clamp(2rem, 2.25vw, 2.75rem);
$galleryTitleFontSize: clamp(3rem, 3vw, 5rem);
$galleryCardFontSize: clamp(2rem, 3vw, 3.5rem);
$fontTextFontSize: 1.75rem;
$fontTextLineHeight: 2.5rem;

// View Sizes
$viewSize: 1200px;
$mobileSize: 500px;
$tabletSize: 768px;
$desktopSize: 1024px;

* {
  font-size: 12px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontTitle;
  font-weight: 600;
  // line-height: 3rem;
}

html {
  position: relative;
}

body {
  font-family: $fontText;
  font-weight: 400;
  font-style: normal;
  padding: 75px 20px 20px 20px;
  margin: auto;
  animation: fadeInAnimation ease-in-out 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  a {
    color: $primaryColor;
    text-decoration: none;
    &:hover {
      color: $accent;
    }
    &:active {
      color: $primaryColor;
    }
  }
}

body.dark {
  background-color: $dark-secondaryColor;

  a {
    color: $dark-accent;
    text-decoration: none;
    &:hover {
      color: $dark-liteAccent;
    }
    &:active {
      color: $dark-accent;
    }
  }
}

.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@import "./components/navbar";
@import "./pages/index";
@import "./pages/design";
@import "./pages/code";
@import "./pages/snap";
@import "./pages/about";
@import "./pages/404";

@import "./components/footer";
@import "./templates/snap-gallery";
@import "./templates/design-gallery";

@media only screen and (min-width: 1024px) {
  body {
    max-width: $viewSize;
  }
}

@media (hover: none), (hover: on-demand) {
  body {
    a {
      &:hover {
        color: $primaryColor;
      }
      &:active {
        color: $primaryColor;
      }
    }
  }

  body.dark {
    a {
      &:hover {
        color: $dark-accent;
      }
      &:active {
        color: $dark-accent;
      }
    }
  }
}
