.design-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;

  .gallery-title {
    align-self: flex-end;
    text-align: right;
    text-transform: uppercase;
    font-family: $fontTitle;
    font-weight: 600;
    font-style: normal;
    font-size: $galleryTitleFontSize;
    margin-bottom: 10px;
    @include darkThemeHelper(color, $primaryColor, $dark-primaryColor);

    span {
      font-family: $fontTitle;
      font-weight: 600;
      font-style: normal;
      font-size: $galleryTitleFontSize;
      margin-right: 10px;
      @include darkThemeHelper(color, $accent, $dark-accent);
    }
  }

  .image-container {
    width: 100%;
    margin-bottom: 4%;
  }
}
