.snap-gallery-page {
  .gallery-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    font-family: $fontTitle;
    font-weight: 600;
    font-style: normal;
    font-size: max(3vw, 3rem);
    margin-bottom: 10px;

    span {
      font-family: $fontTitle;
      font-weight: 600;
      font-style: normal;
      font-size: max(3vw, 3rem);
      margin-right: 10px;
      color: $accent;
    }
  }
  .snap-gallery {
    .column-1,
    .column-2,
    .column-3 {
      .image-container {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (min-width: $mobileSize) {
  .snap-gallery {
    .gallery-title {
      justify-content: center;
    }

    .column-1,
    .column-2,
    .column-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .image-container {
        width: 75%;
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (min-width: $tabletSize) {
  .snap-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;

    .column-1,
    .column-2,
    .column-3 {
      display: flex;
      flex-flow: column;

      .image-container {
        width: 100%;
        margin: 0;
      }
    }
  }
}
