// .snap-gallery {
//   height: 140vh;
//   display: flex;
//   flex-flow: column wrap;
//   align-items: center;
//   gap: 20px;

//   .image-container {
//     width: 33%;
//   }
// }

.snap-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px auto;
  gap: 20px;

  .gallery-title {
    grid-area: 1 / 1 / 2 / 4;
    font-family: $fontTitle;
    font-weight: 400;
  }

  .column-1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .column-2 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .column-3 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .column-1,
  .column-2,
  .column-3 {
    display: flex;
    flex-flow: column;
    gap: 20px;

    .image-container {
      width: 100%;
    }
  }
}
